* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(54, 57, 62);
  display: flex;
}

.centerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  margin: auto;
  position: relative;
}

.imageDiv {
  width: 30%;
  height: 100%;
  background-image: url("../Images/bg1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.loginDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  height: 100%;
  background-color: rgb(30, 33, 36);
}

.title {
  color: white;
  font-size: 5vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}

.loginField {
  width: 75%;
  height: 10%;
  border-radius: 7px;
  background-color: rgba(66, 69, 73);
  border: 1px solid rgb(114, 137, 218);
  color: white;
  outline: none;
  font-size: 80%;
}

.formBtn {
  width: 25%;
  height: 5%;
  border-radius: 5px;
  border: none;
  background-color: rgb(114, 137, 218);
  color: white;
}

.text {
  color: white;
  font-size: 80%;
}
.link {
  color: white;
  font-size: 80%;
}
