* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
body {
  background-color: rgb(54, 57, 62);
  margin: 0;
  height: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 33, 36);
  height: 5vh;
}

.title {
  color: white;
  font-size: 5vh;
  margin: 2%;
}
.icons {
  height: 100%;
  margin: 2%;
}
.profIcon {
  height: 100%;
}
.camIcon {
  height: 100%;
}

.detailsDiv {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  background-color: rgb(30, 33, 36);
  border-radius: 10px;
}
.pfpimg {
  width: 30%;
  height: 100%;
}
.pfp {
  width: 90%;
  height: 90%;
}
.details {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fullName {
  font-size: 3vh;
  width: 90%;
}
.bio {
  background-color: rgba(66, 69, 73);
  border-radius: 10px;
  width: 90%;
  margin: 0;
  height: 70%;
  padding: 10% 0% 10% 0%;
  overflow-y: hidden;
}
.editBtn {
  width: 50%;
  background-color: rgb(114, 137, 218);
  border-radius: 10px;
  border: none;
  padding: 1% 0 1% 0;
  margin-top: 5%;
}

.imageRow {
  display: flex;
  flex-direction: row;
  width: 70vh;
  justify-content: space-between;
  height: auto;
  margin: auto;
  margin-top: 2vh;
}
.img {
  width: 30%;
}
.postt {
  width: 100%;
}
