* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
body {
  background-color: rgb(54, 57, 62);
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 33, 36);
  height: 5vh;
}

.title {
  color: white;
  font-size: 5vh;
  margin: 2%;
}
.icons {
  height: 100%;
  margin: 2%;
}

.profIcon {
  height: 100%;
}

.camIcon {
  height: 100%;
}

.detailsDiv {
  background-color: rgb(30, 33, 36);
  border-radius: 10px;
  width: 70vh;
  height: 25vh;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pfpimg {
  display: flex;
  flex-direction: row;
  width: 20vh;
}
.pfp {
  border-radius: 40vh;
  border: 1px solid rgb(114, 137, 218);
  width: 20vh;
  height: 20vh;
  margin: auto;
}
.details {
  width: 40vh;
}
.fullname {
  width: 70vh;
  font-size: 3vh;
}
.bio {
  background-color: rgba(66, 69, 73);
  border-radius: 10px;
  width: auto;
  height: 12vh;
  overflow-wrap: break-word;
}
.editBtn {
  height: 3vh;
  width: 15vh;
  background-color: rgb(114, 137, 218);
  border-radius: 1vh;
}

.imageRow {
  display: flex;
  flex-direction: row;
  width: 70vh;
  justify-content: space-between;
  height: auto;
  margin: auto;
  margin-top: 2vh;
}
.img {
  width: 30%;
}
.postt {
  width: 100%;
}
